:root {
  --primary-color: #49B4BB;
  --font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --text-color: #444444;
  --background-color: #ffffff;
  --border-color: #A8A8A8;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
#root {
  height: 100%;
  padding: 1rem;
}